<nav>
    <ul>
        <li class="nav-link"><a href="/">Home</a></li>
        <li class="nav-link"><a href="/giuseppe">Giuseppe</a></li>
        <li class="nav-link"><a href="/controllers">Controllers</a></li>
        <li class="nav-link"><a href="/routes">Routes</a></li>
        <li class="nav-link"><a href="/middleware">Middleware</a></li>
        <li class="nav-link"><a href="/parameters">Parameters</a></li>
        <li class="nav-link"><a href="/validators">Validators</a></li>
        <li class="nav-link"><a href="/errorhandling">Errorhandling</a></li>
        <li class="nav-link"><a href="/migration">Migration Guide</a></li>
        <li class="nav-link"><a href="/plugins">Plugins</a></li>
        <li class="nav-link active"><a href="/api">API</a></li>
    </ul>
</nav>
