---
---

$smartiveBlue: #009fe3;
$smartiveDarkBlue: #1e324b;

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
}

header {
    background-color: $smartiveDarkBlue;
    color: #fff;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
}

.smartive {
    background-color: $smartiveDarkBlue;
     img {
         padding: 3rem;
     }
}

nav ul {
    list-style: none;
    padding: 0 0 0 3rem;
}

.nav-link {
    margin-bottom: 1rem;
    float: left;
    display: block;
    width: 100%;

    a {
        color: #232426;
        text-decoration: none;
        float: left;

        &::after {
            display: block;
            content: '';
            width: 0;
            height: 1px;
            background: $smartiveBlue;
            transition: width 150ms ease-in-out;
        }

        &:hover::after {
            width: 100%;
        }
    }
}

.nav-link.active {
    a {
        color: $smartiveBlue;

        &::after {
            width: 100%;
        }
    }
}

.logo-center {
    text-align: center;

    img {
        display: inline-block;
    }
}

.github-ribbon {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.img-responsive {
    &.small {
        width: 18rem;
    }

    &.large {
        width: 40rem;
    }
}

a {
    color: $smartiveBlue;
    transition: color 150ms ease-in-out;


    &:hover {
        color: $smartiveDarkBlue;
        text-decoration: none;
    }
}

h2 {
    margin-top: 3.5rem;
    margin-bottom: 2.5rem;
}

h3 {
    margin-top: 2.8rem;
    margin-bottom: 2rem;
}

h4 {
    margin-top: 2.2rem;
    margin-bottom: 1.8rem;
}

footer {
    background-color: $smartiveDarkBlue;
    color: #fff;
    font-size: 1.2rem;
    margin-top: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;

    a {
        color: #fff;

        &:hover {
            color: $smartiveBlue;
        }
    }

    span {
        padding-left: 3rem;
    }
}

.highlighter-rouge {
    background-color: rgba($color: #000, $alpha: 0.06);
    color: #555;
}
